@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
body {
    background: rgb(75,0,102);
    background: radial-gradient(circle, rgb(22, 0, 29) 0%, rgb(0, 0, 0) 100%);
    font-family: 'Sen';
    color: #F4C032;
    
}

.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #33333340; /* green background */
    color: #F4c032; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
    font-family:'Sen'
  }
  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .about {
    flex: 20%; /* Set the width of the sidebar */
    background-color: #33333370; /* Grey background color */
    padding: 20px; /* Some padding */
    font-family:"Sen";
    color: #F4c032
    
  }
  
  /* Main column */
  .projects {
    flex:70%; /* Set the width of the main content */
    background-color: #33333370; /* White background color */
    padding: 20px; /* Some padding */
    font-family:"Sen";
    color: #F4c032;
    display: inline-block;
  }

  .footer {
    flex:50%;
    text-align: center; /* Center text*/
    background-color: #33333340; /* White background color */
    padding: 20px; /* Some padding */
    font-family:"Sen";
    color: #F4c032;
  }
  .impact, .hackclub, .ftc{
    text-align: center;
    display:inline-block;
  }
  div.impact a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

  div.hackclub a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }
